---
import Layout from "../layouts/Layout.astro";
import ReactIcon from "../icons/ReactIcon.astro";
import TailwindIcon from "../icons/TailwindIcon.astro";
import Express from "../icons/Express.astro";
import SqlLiteIcon from "../icons/SqlLiteIcon.astro";

const fistProject = [
  { name: "React", icon: ReactIcon },
  { name: "Tailwind", icon: TailwindIcon },
  { name: "Express JS", icon: Express },
  { name: "SQLite", icon: SqlLiteIcon },
  { name: "Node JS", icon: null },
];

const secondProject = [
  { name: ".NET", icon: null },
  { name: "WinForms", icon: null },
  { name: "C#", icon: null },
];
---

<Layout title="Brayan Yin Lin">
  <main class="w-[765px]">

  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    max-width: calc(100% - 2rem);
    font-size: 20px;
    line-height: 1.6;
  }
</style>
