<header class="sticky min-[320px]:top-2 bottom-2 z-30 mx-auto flex justify-center">
  <nav class="px-[5px] py-1 rounded-md">
    <ul class="list-none flex gap-10">
      <li class="text-sm text-center sm:text-[18px] sm:text-left font-bold px-3 about-me"><a href="#about-me">Sobre Mí</a></li>
      <li class="text-sm text-center sm:text-[18px] sm:text-left font-bold px-3 projects"><a href="#projects">Proyectos</a></li>
      <li class="text-sm text-center sm:text-[18px] sm:text-left font-bold px-3 contact"><a href="#contact">Contacto</a></li>
    </ul>
  </nav>
</header>